@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    background-color: #304C89;
    font-family: 'Montserrat';
    color:#FAF9F9;
}

.wrapper {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #9EB7E5;
}

.message {
    font-family: 'Montserrat';
}

.cells-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 454px;
    width: 454px;
}

.cell {
    width: 150px;
    height: 150px;
    background-color: #E8E5DA;
    font-size: 8rem;
    font-family: 'Montserrat';
    border: 1px solid black;
    display: flex;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:hover {
    background-color: #8592c5;
}

button {
    padding: 10px 20px;
    margin: 15px;
    background-color: #648DE5;
    border: 2px solid black;
    font-size: 1rem;
    font-family: 'Montserrat';
    border-radius: 2rem;
    outline: none;
}